<hr class="m-0">
<footer class="page-footer">
    <div class="container-fluid p-m-0">
        <div class="row p-m-0">
            <div class="col-md-12 d-flex justify-content-center p-m-0">
                <h4 class="text-dark">☟ Siga nas redes sociais ☟</h4>
            </div>
        </div>
        <div class="row p-m-0">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network p-m-0">
                    <li>
                        <a href="https://www.linkedin.com/in/walisson-gonzales/" target="_blank" class="icoLinkedin"><i
                                class="fab fa-linkedin"></i></a>

                        <a href="https://www.facebook.com/gonz.tiogreen/" target="_blank" class="icoFace"><i
                                class="fab fa-facebook"></i></a>

                        <a href="https://www.instagram.com/_gon.zales/" target="_blank" class="icoInsta"><i class="fab fa-instagram-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>

            <div class="footer-copyright text-center bg-dark py-2">
                <span class="text-light fst-italic font-monospace">
                    &copy; 2021 Todos os direitos reservados: ⮞ Gonzales Walisson ⮜
                </span>
            </div>
        
    </div>
</footer>