#img-bg{
    background-image: url('https://cdn.discordapp.com/attachments/844560176374612029/857671427109289984/1_v3ikxyKvhmgFmwncD7AfsA.png');
    min-height: 625px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}