<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <button class="navbar-toggler" 
        type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
                <li class="nav-item">
                    <img src="https://i.imgur.com/0XtvvY1.jpg"
                        alt="" width="50px" 
                        height="50px" 
                        class="img-fluid rounded-circle">
                </li>
                <li class="nav-item ps-3">
                    <p class="m-0 fs-16 text-light">{{nome}}</p>
                </li>
                <li class="nav-item ps-3">
                    <a href="">
                        <p class="text-dark fs-16 m-0">
                            <i class="far fa-edit"></i>
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                <li class="nav-item">
                    <a (click)='sair()' class="m-0 fs-16 text-light fw-normal">Sair <i class="fas fa-sign-out-alt ms-1"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>