<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-light">
                    <h1 class="fs-54">Seja bem vindo</h1>
                    <h5 class="fs-18">Expresse aqui seus pensamentos e opniões</h5>
                </div>

            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-outline-light me-2" data-bs-toggle="modal"
                        data-bs-target="#novaPostagem">Nova
                        Postagem</button>
                    <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img class="img-fluid" src="../../assets/img/Questions-bro.png" width="500px" height="500px" alt="perapera">
        </div>
    </div>
</div>

<div id="postagens" class="container mb-5 mt-5">

    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
            <button class="nav-link active text-secondary fw-bold" id="nav-todasPostagens-tab" data-bs-toggle="tab"
                data-bs-target="#todasPostagens" type="button" role="tab" aria-controls="nav-todasPostagens"
                aria-selected="true">Todas as postagens</button>

            <button (click)='findByIdUser()' class="nav-link text-secondary fw-bold" id="nav-minhasPostagens-tab"
                data-bs-toggle="tab" data-bs-target="#minhasPostagens" type="button" role="tab"
                aria-controls="nav-minhasPostagens" aria-selected="false">Minhas postagens</button>

            <button class="nav-link text-secondary fw-bold" id="nav-postagensTema-tab" data-bs-toggle="tab"
                data-bs-target="#postagensTema" type="button" role="tab" aria-controls="nav-postagensTema"
                aria-selected="false">Postagens por tema</button>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
            aria-labelledby="nav-todasPostagens-tab">

            <div class="row d-flex justify-content-center mb-5 mt-5">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="titulo" placeholder="Pesquiser por titulos"
                            [(ngModel)]='tituloPost' (keyup)='findByTituloPostagem()'>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                <div class="card text-center" *ngFor='let leia of listaPostagens | orderBy : key : reverse'>
                    <div class="card-body">
                        <h5 class="card-title m-0">{{leia.titulo}}</h5>
                        <small class="text-info"> Tema: {{leia.tema.descricao}}</small>
                        <p class="card-text mt-3">{{leia.texto}}</p>
                        <p class="card-text"><small class="text-muted">{{leia.data | date: 'dd/MM/yyyy'}} às {{leia.data
                                | date: 'HH:mm'}}</small></p>
                        <p class="card-text"><small class="text-muted">by: {{leia.usuario.nome}}</small></p>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                <div class="card text-center" *ngFor='let leia of user.postagem | orderBy : key : reverse'>
                    <div class="card-body">
                        <h5 class="card-title m-0">{{leia.titulo}}</h5>
                        <small class="text-info"> Tema: {{leia.tema.descricao}}</small>
                        <p class="card-text mt-3">{{leia.texto}}</p>
                        <p class="card-text"><small class="text-muted">{{leia.data | date: 'dd/MM/yyyy'}} às
                                {{leia.data | date: 'HH:mm'}}</small></p>

                        <a [routerLink]="['/postagem-edit', leia.id]" href="" class="text-info me-3">Editar</a>
                        <a [routerLink]="['/postagem-delete', leia.id]" href="" class="text-danger">Apagar</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">

            <div class="row d-flex justify-content-center mb-5 mt-5">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="titulo" placeholder="Pesquiser por temas"
                            [(ngModel)]='nomeTema' (keyup)='findByNomeTema()'>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3" *ngFor='let tema of listaTemas'>
                <div class="card text-center" *ngFor='let leia of tema.postagem | orderBy : key : reverse'>
                    <div class="card-body">
                        <h5 class="card-title m-0">{{leia.titulo}}</h5>
                        <p class="card-text mt-3">{{leia.texto}}</p>
                        <p class="card-text"><small class="text-muted">{{leia.data | date: 'dd/MM/yyyy'}} às {{leia.data
                                | date: 'HH:mm'}}</small></p>
                        <p class="card-text"><small class="text-muted">by: {{leia.usuario.nome}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
                        placeholder="Digite o título">
                </div>

                <div class="form-group">
                    <label for="texto">Texto</label>
                    <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto"
                        rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="tema">Escolha um tema | <a *ngIf='authService.adm()' routerLink='/tema' data-bs-dismiss="modal">cadastre um
                            novo</a>:</label>
                    <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema'>
                        <option *ngFor='let leia of listaTemas' value="{{leia.id}}">{{leia.descricao}}</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    (click)='publicar()'>Publicar</button>
            </div>
        </div>
    </div>
</div>